/* ----------------------- PROJECT CUSTOM ANIMATIONS ----------------------- */

// =====================
// Hamburger button open 
// =====================

@keyframes hamburger__open__line{
    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
@keyframes hamburger__open__before{
    0%{
        top: -10px;
    }
    50%{
        width: 35px;
        top: -5px;
        transform: translateX(-50%) rotate(23deg);
    }
    100%{
        transform: translateX(-50%) rotate(45deg);
        width: 40px;
        top: 0;
    }
}
@keyframes hamburger__open__after{
    0%{
        top: 10px;
    }
    50%{
        width: 35px;
        top: 5px;
        transform: translateX(-50%) rotate(-23deg);
    }
    100%{
        transform: translateX(-50%) rotate(-45deg);
        width: 40px;
        top: 0;
    }
}
