/* ----------------------- PROJECT CUSTOM ANIMATIONS ----------------------- */

// =====================
// Hamburger button open 
// =====================

@keyframes hamburger__open__line{
    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
@keyframes hamburger__open__before{
    0%{
        top: -10px;
    }
    50%{
        width: 35px;
        top: -5px;
        transform: translateX(-50%) rotate(23deg);
    }
    100%{
        transform: translateX(-50%) rotate(45deg);
        width: 40px;
        top: 0;
    }
}
@keyframes hamburger__open__after{
    0%{
        top: 10px;
    }
    50%{
        width: 35px;
        top: 5px;
        transform: translateX(-50%) rotate(-23deg);
    }
    100%{
        transform: translateX(-50%) rotate(-45deg);
        width: 40px;
        top: 0;
    }
}
// =================
// Slider animations 
// =================
@keyframes slider__item__out {
    20%{
        transform: scale(0.7) rotateY(45deg);
    }
    40%{
        transform: scale(0.7) rotateY(90deg);
    }
    60%{
        transform: scale(0.7) rotateY(135deg);
    }
    80%{
        transform: scale(0.7) rotateY(180deg) translateX(-500px);
    }
    100%{
        transform: scale(0.7) rotateY(180deg) translateX(-5000px);
    }
}
@keyframes slider__item__in {
    0%{
        transform: scale(0.7) rotateY(180deg) translateX(5000px);
    }
    20%{
        transform: scale(0.7) rotateY(180deg) translateX(500px);
    }
    40%{
        transform: scale(0.7) rotateY(135deg);
    }
    60%{
        transform: scale(0.7) rotateY(90deg);
    }
    80%{
        transform: scale(0.7) rotateY(45deg);
    }
}