/* ----------------------- SLIDER STYLE ----------------------- */

// =================
// Slider animations 
// =================
// @keyframes slider__item__out {
//     20%{
//         transform: scale(0.7) rotateY(45deg);
//     }
//     40%{
//         transform: scale(0.7) rotateY(90deg);
//     }
//     60%{
//         transform: scale(0.7) rotateY(135deg);
//     }
//     80%{
//         transform: scale(0.7) rotateY(180deg) translateX(-500px);
//     }
//     100%{
//         transform: scale(0.7) rotateY(180deg) translateX(-5000px);
//     }
// }
@keyframes slider__item__out {
    20%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(0.7) translateX(2000px);
    }
}
@keyframes slider__item__in {
    0%{
        transform: scale(0.7) rotateY(180deg) translateX(5000px);
    }
    20%{
        transform: scale(0.7) rotateY(180deg) translateX(500px);
    }
    40%{
        transform: scale(0.7) rotateY(135deg);
    }
    60%{
        transform: scale(0.7) rotateY(90deg);
    }
    80%{
        transform: scale(0.7) rotateY(45deg);
    }
}

// =================
// Slider style 
// =================
.slider__section{
    .slider{
        height: 50vh;
        background: rgba($color: #000000, $alpha: 0.3);
        position: relative;
        overflow: hidden;
    }
    .slider__item{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        // backface-visibility: hidden;
        transition: 5s linear;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        &:nth-of-type(2){
            left: -100%;
        }
        &:nth-of-type(3){
            left: -200%;
        }
        &:nth-of-type(4){
            left: -300%;
        }
        &:nth-of-type(5){
            left: -400%;
        }
    }
    &:hover{
        .slider__item{
            transform: translateX(400%);
        }
        // .slider__item{
        //     animation: slider__item__out 1s linear;
        //     animation-fill-mode: forwards;
        // }
    }
}// -------------------------- END --------------------------- //