/* -------------------- PROJECT VARIABLES -------------------- */

//FONT VARIABLES
$font-montserrat: 'Montserrat', sans-serif;
$font-kaushan-script: 'Kaushan Script', cursive;
$font-roboto: 'Roboto', sans-serif;

//COLOR VARIABLES
$color-custom-black: #333333;
$color-custom-gray: #999999;
$color-custom-green: #E7E7E7;
$color-custom-red: #F38181;
$color-custom-yellow: #FCE38A;



//DESIGN SECTION VARIABLES
$services-section-padd: 110px 0 120px;
$services-item-icon-color: #95E1D3;
//$services-item-icon-margin: 0 29px;
$services-item-icon-size: 31px;
$services-item-title-margin-bottom: 20px;
$services-item-title-font-size: 0.93rem;
$services-item-title-line-height: 1;
$services-item-title-color: #333;


