/* ----------------------- WELCOME STYLE ----------------------- */
.welcome__section__wrapper{
    position: relative;
    .welcome__video__wrapper{
        position: relative;
        height: 100vh;
        video{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .welcome__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .welcome__content__wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        max-width: 90%;
        .welcome__title{
            font-family: $font-kaushan-script;
            font-size: 3rem;
            margin-bottom: 30px;
        }
        .welcome__description{
            margin-bottom: 40px;
        }
        .welcome__more__btn{
            display: inline-block;
            padding: 8px 15px;
            border-radius: 5px;
            background: #65ba7b;
            color: #fff;
            font-weight: bold;
            font-size: 1.2rem;
            &:hover{
                background: darken($color: #65ab7b, $amount: 10%);
            }
        }
    }
}
// ----------------------- SM BREAKPOINT ----------------------- //
@media(min-width: 576px){
    .welcome__section__wrapper{
        .welcome__content__wrapper{
            max-width: 500px;
        }
    }
}// -------------------------- END --------------------------- //